<a href="/">Home</a>

<h2>{{city}}</h2>

<span id="total-rating"></span>

<div class="comments-container">
  {{!-- Aquí irá cada comentario --}}
</div>

<form action="/add-wish-city/{{city}}" method="POST">

  <button id="wish-button">Wish to visit</button>
  
</form>

<form action="/add-visited-city/{{city}}" method="POST">

  <button id="visited-button">Already visited</button>
  
</form>

<h2>Comments</h2>

{{#each comments}}
<h3>Title: {{this.commentTitle}}</h3>
  <p>Comment: </p>
  <p>{{this.comment}}</p>
  <p>Rating: <span class="comment-rating">{{this.rating}}</span></p>
  <p>Created by: {{this.name}} {{this.lastName}}</p>
{{/each}}

<a href="/create-comment/{{city}}">Add a comment</a>