<h2>{{name}}'s comments</h2>

{{#each comments}}
<h3>{{this.cityName}}</h3>
<h2>Title: {{this.commentTitle}}</h2>
  <p>Comment: </p>
  <p>{{this.comment}}</p>
  <p>Rating: {{this.rating}}</p>
{{/each}}

