<a href="/">Home</a>

{{#if user}}
<h2>{{user.name}}'s cities</h2>
{{/if}}

<div class="cities-container">

  <div class="wish-cities">
    <h3>Wish to visit:</h3>
      <ul>
        {{#each user.wishVisit}}
        <li><a href="{{this}}">{{this}}</a></li>
        {{/each}}
      </ul>
  </div>

  <div class="visited-cities">
    <h3>Already visited:</h3>
      <ul>
        {{#each user.alreadyVisited}}
        <li><a href="{{this}}">{{this}}</a></li>
        {{/each}}
      </ul>
  </div>

</div>
